{% load static %}
<!-- Announcement Bar -->
<div class="announcement-bar py-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center justify-content-md-between align-items-center flex-wrap">
                    <p class="announcement-text mb-0 mx-3 mx-md-0">توصيل مجاني للطلبات فوق ٥٠٠ جنيه</p>
                    <div class="d-flex">
                        <a href="#" class="announcement-link mx-2">تتبع طلبك</a>
                        <span class="mx-1">|</span>
                        <a href="contactus.html" class="announcement-link mx-2">تواصل معنا</a>
                        <span class="mx-1">|</span>
                        <a href="#" class="announcement-link mx-2">English</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Header -->
<header class="main-header" id="main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg py-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <span class="brand-name">أحمد عبدة</span>
                </a>
                <div class="d-flex d-lg-none ms-auto me-2">
                    <a href="#" class="nav-icon mx-2" data-bs-toggle="modal" data-bs-target="#searchModal"><i
                            class="bi bi-search"></i></a>
                    <a href="cart.html" class="nav-icon mx-2 position-relative">
                        <i class="bi bi-bag"></i>
                        <span class="cart-badge">3</span>
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="men.html" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                الرجال
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="men.html?category=shirts">قمصان</a></li>
                                <li><a class="dropdown-item" href="men.html?category=pants">بناطيل</a></li>
                                <li><a class="dropdown-item" href="men.html?category=shoes">أحذية</a></li>
                                <li><a class="dropdown-item" href="men.html?category=accessories">إكسسوارات</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="women.html" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                النساء
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="women.html?category=dresses">فساتين</a></li>
                                <li><a class="dropdown-item" href="women.html?category=blouses">بلوزات</a></li>
                                <li><a class="dropdown-item" href="women.html?category=pants">بناطيل</a></li>
                                <li><a class="dropdown-item" href="women.html?category=bags">حقائب</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="kids.html" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                الأطفال
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="kids.html?category=boys">ملابس أولاد</a></li>
                                <li><a class="dropdown-item" href="kids.html?category=girls">ملابس بنات</a></li>
                                <li><a class="dropdown-item" href="kids.html?category=shoes">أحذية</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="offers.html">العروض</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contactus.html">تواصل معنا</a>
                        </li>
                    </ul>
                    <div class="d-none d-lg-flex">
                        <a href="#" class="nav-icon mx-2" data-bs-toggle="modal" data-bs-target="#searchModal"><i
                                class="bi bi-search"></i></a>
                        <a href="cart.html" class="nav-icon mx-2 position-relative">
                            <i class="bi bi-bag"></i>
                            <span class="cart-badge">3</span>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>